.bands {
    width: 100%;
    display: flex;
    justify-content: center;
    text-align: center;
    margin-bottom: 5em;
    font-family: "Times New Roman", Times, serif;;
}
  
.band-div {
    display: flex;
    justify-content: space-between;
    width: 80%;
    color: white;
}

.band-div h3 {
  font-size: 26px;
}

.link-band {
    text-decoration: none;
}

@media (max-width: 600px)  {
    .bands {
      width: 100%;
    }
  
    .band-div {
      display: flex;
      flex-direction: column;
      align-items: center;
    }

    .hand-rock {
      width: 50%;
      margin-bottom: 3em;
    }
}