.description {
    align-items: center;
    text-align: justify;
    width: 90%;
    padding: 1em;
    margin: auto;
    font-family: "Times New Roman", Times, serif;
}

.description h3 {
    text-align: center;
}

.description ul {
    list-style: disc;
}

.tribute-band li {
    font-size: 16px;
    list-style: circle;
}

.social-media {
    width: 20%;
    text-align: center;
    display: flex;
    justify-content: space-between;
}

.social-media a {
    width: 30%;
}

.social-media img {
    width: 50px;
}

.members-band {
    display: flex;
    justify-content: space-between;
}

.members-band img {
    width: 40%;
}

.img-rockbita {
    text-align: center;
}

@media (max-width: 600px)  {
    
    .social-media {
        margin: auto;
        width: 50%;
        display: flex;
        justify-content: space-between;
    }

    .social-media-wa {
        width: 100%;
        text-align: center;
    }

    .social-media-wa a img{
        width: 14%;
    }
    
    .social-media a {
        width: 20%;
    }
    
    .social-media img {
        width: 50px;
    }

    .members-band {
        display: inline-block;
        width: 100%;
    }
    
    .members-band img {
        text-align: center;
        width: 50%;
    }

    .img-rockbita {
        width: 100%;
        text-align: center;
    }
}